<h2>Here are some restaurant recommendations</h2>
<h3><a href="/eastvillage">East Village</a></h3>

<h2>Search another location</h2>
<form action='/results' method='POST'>
  Location: <input type="text" name="location">
  <input class="button" type="submit">
</form>
